{
    "apps" : {
        "api": {
            "baseurl": "http://localhost:8000/",
            "port": 8000,
            "active": true
        },
        "cms": {
            "baseurl": "http://localhost:8001/",
            "port": 8001,
            "active": true
        }
    },
    "db": {
        "host": "localhost",
        "port": "27017",
        "name": "auth"
    },
    "ldap": {
        "host": "localhost",
        "port": "389",
        "timeout": "2000"
    },
    "secret": "ohuhyeahhhpassmolon",
    "tmpFolder": "/tmp/"
}
